#
#    zm-metric - agent for getting measurements using LUA and SNMP
#
#    Copyright (C) 2016 - 2017 Tomas Halman                                 
#                                                                           
#    This program is free software; you can redistribute it and/or modify   
#    it under the terms of the GNU General Public License as published by   
#    the Free Software Foundation; either version 2 of the License, or      
#    (at your option) any later version.                                    
#                                                                           
#    This program is distributed in the hope that it will be useful,        
#    but WITHOUT ANY WARRANTY; without even the implied warranty of         
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the          
#    GNU General Public License for more details.                           
#                                                                           
#    You should have received a copy of the GNU General Public License along
#    with this program; if not, write to the Free Software Foundation, Inc.,
#    51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.            

Source:         zm-metric
Section:        net
Priority:       optional
Maintainer:     zm-metric Developers <email@hostname.com>
Standards-Version: 3.9.7
Build-Depends: debhelper (>= 9),
    pkg-config,
    libzmq3-dev,
    libczmq-dev,
    libmlm-dev,
    libzm-proto-dev,
    liblua5.1-0-dev,
    libsnmp-dev,
    systemd,
    dh-systemd,
    asciidoc-base | asciidoc, xmlto,
    dh-autoreconf

Package: libzm-metric0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: agent for getting measurements using lua and snmp shared library
 This package contains shared library for zm-metric: agent for getting measurements using lua and snmp

Package: libzm-metric-dev
Architecture: any
Section: libdevel
Depends:
    libzmq3-dev,
    libczmq-dev,
    libmlm-dev,
    libzm-proto-dev,
    liblua5.1-0-dev,
    libsnmp-dev,
    libzm-metric0 (= ${binary:Version})
Description: agent for getting measurements using lua and snmp development tools
 This package contains development files for zm-metric: agent for getting measurements using lua and snmp

Package: zm-metric
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
Description: agent for getting measurements using lua and snmp
 Main package for zm-metric: agent for getting measurements using lua and snmp

Package: zm-metric-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
    zm-metric (= ${binary:Version}),
    ${misc:Depends}
Description: agent for getting measurements using lua and snmp debugging symbols
 This package contains the debugging symbols for zm-metric : agent for getting measurements using lua and snmp.

